.app-peopledirectory4-wrapper {
  a {
    &.card {
      &:hover {
        cursor: pointer;
      }

      .img-placeholder {
        padding-bottom: 100%;
      }
    }
  }
}

.app-peopledirectory4-details {
  .emp-image {
    min-width: 140px;
  }

  .img-placeholder {
    padding-bottom: 100%;

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      width: 200px;
      height: 200px;
    }
  }
}